<%- include("./partials/head") -%>

<div class="relative bg-white px-6 pt-10 pb-8 shadow ring-1 ring-slate-900/5 sm:mx-auto sm:max-w-lg sm:rounded-lg sm:px-10">
    <div class="mx-auto max-w-md">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <img class="mx-auto h-10 w-auto" src="../assets/one-shot-unfollow.svg" alt="one-shot-unfollow">
            <h2 class="mt-4 text-center text-2xl font-bold leading-9 tracking-tight text-slate-900">One Shot Unfollow</h2>
            <p class="mt-2 text-center text-sm text-slate-600">Clear your instagram following in one shot</p>
        </div>

        <form class="space-y-4 mt-4" method="POST" action="/ig/login" >

            <% if (info.length > 0) {%>
            <div id="info" class="fixed bottom-0 inset-x-0 z-20 flex items-center justify-center px-2 py-4 mx-2 my-4">
                <div class="w-full max-w-sm bg-white border shadow-lg rounded-lg">
                    <div class="flex items-center p-4">
                        <span class="font-semibold text-slate-500 text-md"><%= info %></span>
                    </div>
                </div>
            </div>
            <% }%>

            <div>
                <label for="username" class="block text-sm font-medium leading-6 text-slate-900">Instagram username</label>
                <div class="mt-2">
                    <input id="username" name="username" type="text" autocomplete="username" required class="block w-full rounded-lg border-0 py-1.5 text-slate-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6">
                </div>
            </div>

            <div>
                <label for="password" class="block text-sm font-medium leading-6 text-slate-900">Password</label>
                <div class="mt-2">
                    <input id="password" name="password" type="password" autocomplete="current-password" required class="block w-full rounded-lg border-0 py-1.5 text-slate-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6">
                </div>
            </div>

            <div>
                <button type="submit" class="flex w-full justify-center rounded-lg bg-blue-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">Log in</button>
            </div>
        </form>
    </div>
</div>

<%- include("./partials/footer") -%>
