<%- include("./partials/head") -%>

<div class="relative bg-white px-6 pt-10 pb-8 shadow ring-1 ring-slate-900/5 sm:mx-auto sm:max-w-lg sm:rounded-lg sm:px-10">
    <div class="mt-2 mx-auto max-w-md">

        <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-slate-900">One Shot Unfollow</h2>

        <p class="mt-2 text-center text-sm text-slate-600">Clear your instagram following in one shot</p>

        <p class="mt-2">Hi, <span class="font-bold">@<%= username %></span></p>

        <div class="mt-2 space-y-4" >
            <form action="/ig/unfollow" method="POST">
                <button type="submit" class="flex w-full justify-center rounded-lg bg-blue-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">Unfollow <%= followingCount %> people</button>
            </form>

            <div>
                <a href="/ig/logout">
                    <button type="button" class="flex w-full justify-center rounded-lg text-sm font-semibold py-2 px-3 bg-white/0 text-slate-900 ring-1 ring-slate-900/10 hover:bg-white/25 hover:ring-slate-900/15">Log out</button>
                </a>
            </div>
        </div>
    </div>
</div>

<%- include("./partials/footer") -%>
