<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>One shot unfollow</title>
        <link rel="shortcut icon" type="image/x-icon" href="../assets/one-shot-unfollow.ico" />
        <script src="https://cdn.tailwindcss.com?plugins=forms"></script>
        <style>
            .github-corner {
              fill: #000;
              color: #fff;
            }

            .github-corner:hover .octo-arm {
              animation: octocat-wave 560ms ease-in-out;
            }
            @keyframes octocat-wave {
              0%,
              100% {
                transform: rotate(0);
              }
              20%,
              60% {
                transform: rotate(-25deg);
              }
              40%,
              80% {
                transform: rotate(10deg);
              }
            }

            @media (max-width: 500px) {
              .github-corner:hover .octo-arm {
                animation: none;
              }
              .github-corner .octo-arm {
                animation: octocat-wave 560ms ease-in-out;
              }
            }
        </style>
    </head>
    <body>
        <div class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-gray-50 py-6 sm:py-12">
            <div class="absolute inset-0 h-full w-full bg-white bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px]"></div>
